<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="container2">
        <h2>Cadastro</h2>
        <form action="">
            <div class="cad1">
                <input type="text" name="username" id="username"
                    placeholder="Seu nome de usuário">
                    <div class="underline"></div>
            </div>
            <div class="cad2">
                <input type="email" name="email" id="email"
                    placeholder="Coloque seu email">
                    <div class="underline"></div>
            </div>
            <div class="cad2">
                <input type="password" name="password" id="password"
                    placeholder="Coloque sua senha">
                <div class="underline"></div>
            </div>
            <div class="cad1">
                <input type="password" name="password" id="password"
                    placeholder="Confirme sua senha">
                <div class="underline"></div>
            </div>

            <input type="submit" value="Continue">
        </form>

       
    </main>
</body>
</html>