{% extends 'base.html' %}
{% block title %}
Cadastro
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}"
{% endblock %}

{% block content %}
    <section id="formulario">
        <h2>Cadastro</h2>
        <form action="#" method="post">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="erro">{{ message }}</p>
                    {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="form-group">
                <input type="text" name="usuario" id="usuario" placeholder="Insira o seu nome de usuário" required>
            </div>

            <div class="form-group">
                <input type="email" name="email" id="email" placeholder="Coloque o seu endereço de e-mail" required>
            </div>
            
            <div class="form-group">
                <input type="text" name="cpf" id="cpf" placeholder="Informe seu CPF" required>
            </div>
            
            <div class="form-group">
                <input type="text" name="prof" id="prof" placeholder="Insira a sua profissão" required>
            </div>                

            <div class="form-group">
                <input type="date" name="data_nasc" id="data_nasc" placeholder="Coloque a sua data de nascimento" required>
            </div>

            <div class="form-group">
                <input type="text" name="parentesco" id="parentesco" placeholder="Coloque o seu grau de parentesco" required>
            </div>
            <div class="form-group">
                <select name="conheceu" id="conheceu">
                    <option value="" disabled selected> Como você conheceu o site? </option>
                    <option value="Internet"> Internet </option>
                    <option value="Redes Sociais"> Redes Sociais </option>
                    <option value="Por Amigos"> Por Amigos </option>
                    <option value="Meios Profissixonais"> Meios Profissionais </option>
                </select>
            </div>
            <div class="form-group">
                <input type="password" name="senha" id="senha" placeholder="Insira a sua senha" required>
            </div>
            
            <button type="submit">Enviar</button>
        </form>

        <br>

        <div class="bot">
            <a href="/login">Faça login com uma conta já existente.</a>
        </div>
    </section>
{% endblock %}