{% extends 'base.html' %}
{% block title %}
Cadastro
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}"
{% endblock %}

{% block content %}
    <main class="container2">
        <h2>Cadastro</h2>
        <form action="">
            <div class="cad1">
                <input type="text" name="username" id="username"
                    placeholder="Seu nome de usuário">
                    <div class="underline"></div>
            </div>
            <div class="cad2">
                <input type="email" name="email" id="email"
                    placeholder="Coloque seu email">
                    <div class="underline"></div>
            </div>
            <div class="cad2">
                <input type="password" name="password" id="password"
                    placeholder="Coloque sua senha">
                <div class="underline"></div>
            </div>
            <div class="cad1">
                <input type="password" name="password" id="password"
                    placeholder="Confirme sua senha">
                <div class="underline"></div>
            </div>

            <input type="submit" value="Continue">
            <div class="texto">Ou</div>

            <input type="submit" value="Logue com a sua conta">
        </form>

       
    </main>
{% endblock %}