{% extends "base.html" %}

{% block title %}
Estatísticas
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}"
{% endblock %}
{% block js %} src="https://code.jquery.com/jquery-3.6.0.min.js" {% endblock %}
<!-- dados para serem inseridos nessa tela
Crianças renais transplantadas, e em fila de espera.
 -->
{% block content %}
<main class="dados">
    <div id="sidebar">
        <ul class="sideitens">
            <li class="liside"><img id="ideiaicon" src="{{url_for('static', filename='img/vector.png')}}">
                <b class="topicbar" id="infosidebar">Informações</b></li>
            <hr class="testehr">
            <li class="liside"><img class="sideicons" src="{{url_for('static', filename='img/chaticon.png')}}">
                <a class="topicbar" href="/info">Perguntas frequentes</a></li>
            <hr class="testehr">
            <li class="liside"><img class="sideicons" src="{{url_for('static', filename='img/dataicon.png')}}">
                <a class="topicbar" href="/dados">Dados oficiais</a></li>
            <hr class="testehr">
            <li class="liside"><img class=sideicons src="{{url_for('static', filename='img/puzzleicon.png')}}">
                <a class="topicbar" href="/fontes">Fontes oficiais</a></li>
        </ul>
    </div>
    <div id="direitadados">
        <div id="conteudodados">           
            <br>
            <h1 class="margem">Dados oficiais</h1>
            <script src="{{ url_for('static', filename='js/filtro.js')}}"></script>
            <section id="seletor">
                <label for="dadosofc"> Escolha a informação: </label>
                <select name="dadosofc" id="dadosofc">
                    <option value=""> Escolha um valor!</option>
                    <option value="flespera2019">Fila de Espera para Transplante-2019</option>
                    <option value="flespera2020">Fila de Espera para Transplante-2020</option>
                    <option value="flespera2021">Fila de Espera para Transplante-2021</option>
                    <option value="flespera2022">Fila de Espera para Transplante-2022</option>
                    <option value="flespera2023">Fila de Espera para Transplante-2023</option>
                    <option value="fila2019">Crianças com DRC transplantadas-2019</option>
                    <option value="fila2020">Crianças com DRC transplantadas-2020</option>
                    <option value="fila2021">Crianças com DRC transplantadas-2021</option>
                    <option value="fila2022">Crianças com DRC transplantadas-2022</option>
                    <option value="fila2023">Crianças com DRC transplantadas-2023</option>
                </select>
                <button id=submitBtn>Pesquisar</button>
            </section>

            <!-- <h2 class="margem">{{titulo}}</h2>
            {% if dados %}
            <table border="3" class="tabela" output="latin2">
                <thead>
                    <tr>
                        <th>Ano         </th>
                        <th>Região      </th>
                        <th>Quantidade  </th>
                    </tr>
                </thead>
                <tbody>
                    {% for dado in dados %}
                    <tr>
                        <td>{{dado.ano}}</td>
                        <td>{{dado.estado}}</td>
                        <td>{{dado.quantidade}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div> -->

        <div id="tabelaloc">



        </div>
    
        <script>
            $(document).ready(function() {
                $("#submitBtn").click(function() {
                    var dadosofc = $("#dadosofc").val();
                    var formData = new FormData();
                    formData.append("dadosofc", $("#dadosofc").val());
                    
                    if (dadosofc === ''){
                        alert('Escolha um tipo');
                    }
                    else {
                        $.ajax({
                            url: '/dadoscsv',
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function(data) {
                                console.log("Received data:", data);
                                $("#tabelaloc").html(data.table);
                            },
                            error: function(xhr, status, error) {
                                console.log("Error:", error);
                            }
                        });
                    };
                });
            });
        </script>

    </div>
</main>

{% endblock %}
