{% extends "base.html" %}

{% block title %}
FAQ
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}"
{% endblock %}

{% block content %}

<section id="faq">
    <div id="conteudofaq">
        <div id="criaperg">
            <h1>Criar Pergunta</h1>
            <form action="/criar_pergunta" method="POST">
                <textarea name="perg_text" rows="5" cols="50" placeholder="Insira sua pergunta (até 300 caracteres)" required></textarea> <br>
                <button>Enviar</button>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="erro">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
        </div>
    <h1>Perguntas</h1>
    <!-- Lista de postagens -->
    <ul>
        {% for pergs in perg %}
            <li>
                <section id="pergunta">
                    <strong>{{ pergs.user_name }}</strong>
                    <p class="limite">{{ pergs.texto }}</p>
                    <br>
                    <p class="limite">Data e Hora: {{ pergs.timestamp_brasil }}</p>
                    <br>
                    <strong><a href="/perg/{{ pergs.id }}">Ver Respostas</a></strong>
                </section>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
