{% extends "base.html" %}

{% block title %}
Informações
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}"
{% endblock %}

{% block content %}
<main class="fontes">
    <div id="sidebar">
        <ul class="sideitens">
            <li class="liside"><img id="ideiaicon" src="{{url_for('static', filename='img/vector.png')}}">
                <b class="topicbar" id="infosidebar">Informações</b></li>
            <hr class="testehr">
            <li class="liside"><img class="sideicons" src="{{url_for('static', filename='img/chaticon.png')}}">
                <a class="topicbar" href="/info">Perguntas frequentes</a></li>
            <hr class="testehr">
            <li class="liside"><img class="sideicons" src="{{url_for('static', filename='img/dataicon.png')}}">
                <a class="topicbar" href="/dados">Dados oficiais</a></li>
            <hr class="testehr">
            <li class="liside"><img class=sideicons src="{{url_for('static', filename='img/puzzleicon.png')}}">
                <a class="topicbar" href="/fontes">Fontes oficiais</a></li>
        </ul>
    </div>
    <div id="direitadados">
        <div id="conteudodados">           
            <br>
            <h1 class="margem">Referências oficiais</h1>
            <section id="refloc">
                <h2>Localidades</h2>
            </section>
            <section id="refdad">
                <h2>Referencias informativas</h2>
                <href>https://www.msdmanuals.com/pt-br/<br>casa/dist%C3%BArbios-renais-e-urin%C3%A1rios/<br>insufici%C3%AAncia-renal/doen%C3%A7a-renal-cr%C3%B4nica-drc</href>
                 <hr>              
                <href>(https://www.hospitalinfantilsabara.org.br/<br>doenca-renal-cronica-tambem-atinge-criancas/<br>#:~:text=Causas%20frequentes%20de%20doen%C3%A7a%20renal%20em%20c<br>rian%C3%A7as&text=Se%20diabetes%20e%20hipertens%C3%A3o%20arterial,<br>entre%20os%20diagn%C3%B3sticos%20mais%20frequentes) </href>       
                 <hr>               
                <href>https://www.msdmanuals.com/<br>pt-br/casa/dist%C3%BArbios-renais-e-urin%C3%A1rios/insufici%C3%AAncia-renal/<br>doen%C3%A7a-renal-cr%C3%B4nica-drc#:~:text=O%20tratamento%20visa%20<br>restringir%20fluidos,de%20di%C3%A1lise%20ou%20transplante%20renal.) </href>
                 <hr>                
                <href>(https://www.gov.br/saude/pt-br/assuntos/noticias/2023/marco/<br>seus-rins-estao-saudaveis-saiba-o-que-e-a-doenca-renal-cronica<br>-e-como-preveni-la#:~:text=Infelizmente%2C%20n%C3%A3o%20existe%<br>20cura%20para,da%20dieta%20podem%20ser%20prescritos) </href>            
                 <hr>
                <href>(https://www.freseniusmedicalcare.pt/pt/<br>doentes-familiares/opcoes-de-tratamento-para-doenca-renal-cronica-drc) </href>            
                 <hr>                
                <href>(https://familia.sbim.org.br/seu-calendario/pacientes-<br>especiais/vacinacao/pessoas-que-vivem-com-doencas-cronicas/<br>doenca-renal-cronica#:~:text=A%20SBIm%20recomenda%20para%<br>20pacientes,com%20o%20calend%C3%A1rio%20da%20VPC10) </href>           
                 <hr>
                <href> (https://medfocus.com.br/irc-qual-a-dieta-para-pacientes<br>-com-doenca-renal-cronica/#:~:text=No%20geral%2C%20alimentos%20ricos%20em<br>,e%20gr%C3%A3os%20devem%20ser%20controladas.) </href>            
                 <hr>
                <href>(https://www.criticaeducativa.ufscar.br/<br>index.php/criticaeducativa/article/download/42/198/574) </href>           
                 <hr>
                <href>https://www.crmpr.org.br/Doenca-renal-cronica-tambem-atinge<br>-criancas-com-grande-impacto-em-sua-qualidade-de-vida-11-57467.shtml </href>            
                 <hr>
                <href>https://beepsaude.com.br/doenca-renal-cronica/</href>            
                 <hr>
                <href>https://www.mdsaude.com/nefrologia/quando-procurar-um-nefrologista/ </href>          
                 <hr>
                <href>https://www.tuasaude.com/dialise-peritoneal/ </href>          
                 <hr>
                <href>https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/hemodialise/ </href>
                 <hr>
                <href>https://www.scielo.br/j/jbn/a/Dbk8Rk5kFYCSZGJv3FPpxWC/?format=pdf&lang=pt </href>           
                 <hr>
                <href>https://pebmed.com.br/criancas-com-doenca-renal-cronica-apresentam-maior<br>-mortalidade-que-aquelas-com-outras-doencas-cronicas/ </href>          
                 <hr>
                <href>https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/tratamento-conservador/</href>
                 <hr>
                <href>https://www.crmpr.org.br/Doenca-renal-cronica-tambem-atinge-criancas-com-grande<br>-impacto-em-sua-qualidade-de-vida-11-57467.shtml</href>
                 <hr>
                <href>https://beepsaude.com.br/doenca-renal-cronica/</href>
                 <hr>
                <href>https://www.mdsaude.com/nefrologia/quando-procurar-um-nefrologista/</href>
                 <hr>
                <href> https://www.tuasaude.com/dialise-peritoneal/</href>
                 <hr>
                <href>https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/hemodialise/</href>
                <hr>
                <href>https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/d/drc</href>
                <hr>
                <href>https://bvsms.saude.gov.br/insuficiencia-renal-aguda/</href>
                <hr>
                <href>https://educacao.uol.com.br/disciplinas/biologia/sistema-urinario-conjunto<br>-de-orgaos-filtra-o-sangue-e-elimina-toxinas.htm</href>
                <hr>
                <href>https://www.hrim.com.br/noticias/2023/08/14/como-o-colesterol-alto-pode-<br>afetar-a-saude-renal-2/</href>
                <hr>
                <href>https://pequenoprincipe.org.br/noticia/o-que-voce-precisa-saber-sobre-a-<br>doenca-renal-cronica-na-infancia/</href>
                <hr>
                <href>https://www.scielo.br/j/jbn/a/RMwrNxPxP5D8mcwXBjtBKnJ/?format=pdf&lang=pt</href>
                <hr>
                <href>https://www.gov.br/saude/pt-br/assuntos/noticias/2019/marco/ministerio-da-saude-<br>alerta-para-prevencao-e-diagnostico-precoce-da-doenca-renal-cronica</href>
                <hr>
                <href>https://www.sbp.com.br/fileadmin/user_upload/22484c-DC_-_DoenRenal_Cronica-_<br>Diag_e_Prevencao.pdf</href>
                <hr>
                <href>https://bvsms.saude.gov.br/bvs/publicacoes/diretrizes_clinicas_cuidado_<br>paciente_renal.pdf</href>
                <hr>
                <href>https://bvsms.saude.gov.br/bvs/dicas/228_insuf_renal2.html</href>
                <hr>
                <href>https://chocairmedicos.com.br/insuficiencia-renal-cronica-tem-cura/</href>
                <hr>
                <href>https://rcs.baxter.com/pt-br/doenca-renal-cronica-em-<br>criancas-como-cuidar</href>
                <hr>
                <href>https://www.idrpoa.com.br/servicos/dialise-peritoneal/#:~:text=Como%20a%20di%C3%A1lise<br>%20peritoneal%20funciona,da%20cavidade%20abdominal%20do%20paciente.</href>
                <hr>
                <href>https://bvsms.saude.gov.br/hemodialise/#:~:text=Hemodi%C3%A1lise%20%C3%A9%<br>20o%20procedimento%20atrav%C3%A9s,de%20sal%20e%20de%20l%C3%ADquidos.</href>
                <hr>
                <href>https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/tratamento-conservador/</href>
                <hr>
                <href>https://www.sbn.org.br/noticias/single/news/tratamento-conservador-da-drc/</href>
                <hr>
                <href>https://familia.sbim.org.br/seu-calendario/pacientes-especiais/vacinacao/pessoas-que-vivem-com-<br>doencas-cronicas/doenca-renal-cronica</href>
                <hr>
                <href>https://www.sbn.org.br/orientacoes-e-tratamentos/orientacoes-nutricionais/</href>
                <hr>
                <href>https://eventos.ufu.br/sites/eventos.ufu.br/files/a_crianca_com_doenca_renal_<br>cronica_construindo_dialogos_entre_escola_e_servico_de_saude.pdf</href>
                <hr>
                <href>https://www.scielo.br/j/rlae/a/DpsYjRRZdHvgfjrWYXj9bxQ/</href>
                <hr>
                <href>https://www.scielo.br/j/abem/a/kfKpgxvHXF48fjFzwmxmpZs/abstract/?lang=pt</href>
                <hr>
                <href>https://periodicos.ufjf.br/index.php/hurevista/article/download/2483/902/15697</href>
                <hr>
                <href>https://bvsms.saude.gov.br/bvs/saudelegis/gm/2014/prt0483_01_04_2014.html</href>
                <hr>
                <href>https://www.planalto.gov.br/ccivil_03/leis/l8069.htm</href>
                <hr>
                <href>https://normas.leg.br/?urn=urn:lex:br:federal:lei:2023-08-23;14650</href>
                <hr>
                <href>https://www.mds.gov.br/relcrys/bpc/perguntas_respostas.htm</href>
                <hr>
                <href>https://wiki.saude.gov.br/regulacao/index.php/Tratamento_Fora_do_<br>Domic%C3%ADlio_(TFD)</href>
            </section>
            <section id="refinfo">
                <h2>Dados oficiais de transplantes</h2>
                <href>https://site.abto.org.br/wp-content/uploads/2023/09/RBT2023-2t-naoassociados.pdf</href>
                 <hr>
                 <href>https://site.abto.org.br/wp-content/uploads/2023/03/rbt2022-naoassociado.pdf</href>
                 <hr>
                 <href>https://site.abto.org.br/wp-content/uploads/2022/03/leitura_compressed-1.pdf</href>
                 <hr>
                 <href>https://site.abto.org.br/wp-content/uploads/2020/08/2020_populacao_1.pdf</href>
                 <hr>
                 <href>https://site.abto.org.br/wp-content/uploads/2020/08/RBT-2019-leitura.pdf</href>
                 <hr>
                 <href>https://site.abto.org.br/conteudo/rbt/</href>
            </section>
        </main>

{% endblock %}