{% extends "base.html" %}

{% block title %}
Informações
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}"
{% endblock %}
{% block js %} src="{{ url_for('static', filename='js/sidebar.js') }}" {% endblock %}

{% block content %}
<main class="fontes">
    <div id="hamburger-wrapper">
        <div id="hamburger-menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <div id="sidebar">
        <ul class="sideitens">
            <li class="liside"><img id="ideiaicon" src="{{url_for('static', filename='img/vector.png')}}">
                <b class="topicbar" id="infosidebar">Informações</b></li>
            <hr class="testehr">
            <li class="liside"><img class="sideicons" src="{{url_for('static', filename='img/chaticon.png')}}">
                <a class="topicbar" href="/info">Perguntas frequentes</a></li>
            <hr class="testehr">
            <li class="liside"><img class="sideicons" src="{{url_for('static', filename='img/dataicon.png')}}">
                <a class="topicbar" href="/dados">Dados oficiais</a></li>
            <hr class="testehr">
            <li class="liside"><img class=sideicons src="{{url_for('static', filename='img/puzzleicon.png')}}">
                <a class="topicbar" href="/fontes">Fontes oficiais</a></li>
        </ul>
    </div>
    <div id="direitadados">
        <div id="conteudofontes">           
            <br>
            <h1 class="margem">Referências oficiais</h1>
            <section id="refloc" class="limite">
                <h2>Localidades</h2>
            </section>
            <section id="refdad" class="limite">
                <h2>Referencias informativas</h2>
                <a href="//www.msdmanuals.com/pt-br/casa/dist%C3%BArbios-renais-e-urin%C3%A1rios/insufici%C3%AAncia-renal/doen%C3%A7a-renal-cr%C3%B4nica-drc" target="_blank">//www.msdmanuals.com/pt-br/casa/dist%C3%BArbios-renais-e-urin%C3%A1rios/insufici%C3%AAncia-renal/doen%C3%A7a-renal-cr%C3%B4nica-drc</a>
                 <hr>              
                <a href="//www.hospitalinfantilsabara.org.br/doenca-renal-cronica-tambem-atinge-criancas/#:~:text=Causas%20frequentes%20de%20doen%C3%A7a%20renal%20em%20crian%C3%A7as&text=Se%20diabetes%20e%20hipertens%C3%A3o%20arterial,entre%20os%20diagn%C3%B3sticos%20mais%20frequentes" target="_blank">//www.hospitalinfantilsabara.org.br/doenca-renal-cronica-tambem-atinge-criancas/#:~:text=Causas%20frequentes%20de%20doen%C3%A7a%20renal%20em%20crian%C3%A7as&text=Se%20diabetes%20e%20hipertens%C3%A3o%20arterial,entre%20os%20diagn%C3%B3sticos%20mais%20frequentes</a>    
                 <hr>               
                <a href="https://www.msdmanuals.com/>pt-br/casa/dist%C3%BArbios-renais-e-urin%C3%A1rios/insufici%C3%AAncia-renal/doen%C3%A7a-renal-cr%C3%B4nica-drc#:~:text=O%20tratamento%20visa%20restringir%20fluidos,de%20di%C3%A1lise%20ou%20transplante%20renal" target="_blank"> https://www.msdmanuals.com/>pt-br/casa/dist%C3%BArbios-renais-e-urin%C3%A1rios/insufici%C3%AAncia-renal/doen%C3%A7a-renal-cr%C3%B4nica-drc#:~:text=O%20tratamento%20visa%20restringir%20fluidos,de%20di%C3%A1lise%20ou%20transplante%20renal </a>
                 <hr>                
                <a href="https://www.gov.br/saude/pt-br/assuntos/noticias/2023/marco/seus-rins-estao-saudaveis-saiba-o-que-e-a-doenca-renal-cronica-e-como-preveni-la#:~:text=Infelizmente%2C%20n%C3%A3o%20existe%20cura%20para,da%20dieta%20podem%20ser%20prescritos" target="_blank"> https://www.gov.br/saude/pt-br/assuntos/noticias/2023/marco/seus-rins-estao-saudaveis-saiba-o-que-e-a-doenca-renal-cronica-e-como-preveni-la#:~:text=Infelizmente%2C%20n%C3%A3o%20existe%20cura%20para,da%20dieta%20podem%20ser%20prescritos</a>            
                 <hr>
                <a href="https://www.freseniusmedicalcare.pt/pt/doentes-familiares/opcoes-de-tratamento-para-doenca-renal-cronica-drc" target="_blank"> https://www.freseniusmedicalcare.pt/pt/doentes-familiares/opcoes-de-tratamento-para-doenca-renal-cronica-drc </a>            
                 <hr>                
                <a href="https://familia.sbim.org.br/seu-calendario/pacientes-especiais/vacinacao/pessoas-que-vivem-com-doencas-cronicas/doenca-renal-cronica#:~:text=A%20SBIm%20recomenda%20para%20pacientes,com%20o%20calend%C3%A1rio%20da%20VPC10" target="_blank"> https://familia.sbim.org.br/seu-calendario/pacientes-especiais/vacinacao/pessoas-que-vivem-com-doencas-cronicas/doenca-renal-cronica#:~:text=A%20SBIm%20recomenda%20para%20pacientes,com%20o%20calend%C3%A1rio%20da%20VPC10 </a>           
                 <hr>
                <a href="https://medfocus.com.br/irc-qual-a-dieta-para-pacientes-com-doenca-renal-cronica/#:~:text=No%20geral%2C%20alimentos%20ricos%20em,e%20gr%C3%A3os%20devem%20ser%20controladas" target="_blank"> https://medfocus.com.br/irc-qual-a-dieta-para-pacientes-com-doenca-renal-cronica/#:~:text=No%20geral%2C%20alimentos%20ricos%20em,e%20gr%C3%A3os%20devem%20ser%20controladas </a>            
                 <hr>
                <a href="https://www.criticaeducativa.ufscar.br/index.php/criticaeducativa/article/download/42/198/574"> https://www.criticaeducativa.ufscar.br/index.php/criticaeducativa/article/download/42/198/574 </a>           
                 <hr>
                <a href="https://www.crmpr.org.br/Doenca-renal-cronica-tambem-atinge-criancas-com-grande-impacto-em-sua-qualidade-de-vida-11-57467.shtml"> https://www.crmpr.org.br/Doenca-renal-cronica-tambem-atinge-criancas-com-grande-impacto-em-sua-qualidade-de-vida-11-57467.shtml </a>            
                 <hr>
                <a href="https://beepsaude.com.br/doenca-renal-cronica/" target="_blank"> https://beepsaude.com.br/doenca-renal-cronica/ </a>            
                 <hr>
                <a href="https://www.mdsaude.com/nefrologia/quando-procurar-um-nefrologista/" target="_blank"> https://www.mdsaude.com/nefrologia/quando-procurar-um-nefrologista/ </a>          
                 <hr>
                <a href="https://www.tuasaude.com/dialise-peritoneal/" target="_blank"> https://www.tuasaude.com/dialise-peritoneal/ </a>          
                 <hr>
                <a href="https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/hemodialise/" target="_blank"> https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/hemodialise/ </a>
                 <hr>
                <a href="https://www.scielo.br/j/jbn/a/Dbk8Rk5kFYCSZGJv3FPpxWC/?format=pdf&lang=pt" target="_blank"> https://www.scielo.br/j/jbn/a/Dbk8Rk5kFYCSZGJv3FPpxWC/?format=pdf&lang=pt </a>           
                 <hr>
                <a href="https://pebmed.com.br/criancas-com-doenca-renal-cronica-apresentam-maior-mortalidade-que-aquelas-com-outras-doencas-cronicas/"> https://pebmed.com.br/criancas-com-doenca-renal-cronica-apresentam-maior-mortalidade-que-aquelas-com-outras-doencas-cronicas/ </a>          
                 <hr>
                <a href="https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/tratamento-conservador/" target="_blank"> https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/tratamento-conservador/ </a>
                 <hr>
                <a href="https://www.crmpr.org.br/Doenca-renal-cronica-tambem-atinge-criancas-com-grande-impacto-em-sua-qualidade-de-vida-11-57467.shtml" target="_blank"> https://www.crmpr.org.br/Doenca-renal-cronica-tambem-atinge-criancas-com-grande-impacto-em-sua-qualidade-de-vida-11-57467.shtml </a>
                 <hr>
                <a href="https://beepsaude.com.br/doenca-renal-cronica/" target="_blank"> https://beepsaude.com.br/doenca-renal-cronica/ </a>
                 <hr>
                <a href="https://www.mdsaude.com/nefrologia/quando-procurar-um-nefrologista/" target="_blank"> https://www.mdsaude.com/nefrologia/quando-procurar-um-nefrologista/ </a>
                 <hr>
                <a href=" https://www.tuasaude.com/dialise-peritoneal/" target="_blank"> https://www.tuasaude.com/dialise-peritoneal/ </a>
                 <hr>
                <a href="https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/hemodialise/" target="_blank"> https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/hemodialise/ </a>
                <hr>
                <a href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/d/drc" target="_blank"> https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/d/drc </a>
                <hr>
                <a href="https://bvsms.saude.gov.br/insuficiencia-renal-aguda/" target="_blank"> https://bvsms.saude.gov.br/insuficiencia-renal-aguda/ </a>
                <hr>
                <a href="https://educacao.uol.com.br/disciplinas/biologia/sistema-urinario-conjunto-de-orgaos-filtra-o-sangue-e-elimina-toxinas.htm" target="_blank"> https://educacao.uol.com.br/disciplinas/biologia/sistema-urinario-conjunto-de-orgaos-filtra-o-sangue-e-elimina-toxinas.htm </a>
                <hr>
                <a href="https://www.hrim.com.br/noticias/2023/08/14/como-o-colesterol-alto-pode-afetar-a-saude-renal-2/" target="_blank"> https://www.hrim.com.br/noticias/2023/08/14/como-o-colesterol-alto-pode-afetar-a-saude-renal-2/ </a>
                <hr>
                <a href="https://pequenoprincipe.org.br/noticia/o-que-voce-precisa-saber-sobre-a-doenca-renal-cronica-na-infancia/" target="_blank"> https://pequenoprincipe.org.br/noticia/o-que-voce-precisa-saber-sobre-a-doenca-renal-cronica-na-infancia/ </a>
                <hr>
                <a href="https://www.scielo.br/j/jbn/a/RMwrNxPxP5D8mcwXBjtBKnJ/?format=pdf&lang=pt" target="_blank"> https://www.scielo.br/j/jbn/a/RMwrNxPxP5D8mcwXBjtBKnJ/?format=pdf&lang=pt </a>
                <hr>
                <a href="https://www.gov.br/saude/pt-br/assuntos/noticias/2019/marco/ministerio-da-saude-alerta-para-prevencao-e-diagnostico-precoce-da-doenca-renal-cronica" target="_blank"> https://www.gov.br/saude/pt-br/assuntos/noticias/2019/marco/ministerio-da-saude-alerta-para-prevencao-e-diagnostico-precoce-da-doenca-renal-cronica </a>
                <hr>
                <a href="https://www.sbp.com.br/fileadmin/user_upload/22484c-DC_-_DoenRenal_Cronica-_Diag_e_Prevencao.pdf" target="_blank"> https://www.sbp.com.br/fileadmin/user_upload/22484c-DC_-_DoenRenal_Cronica-_Diag_e_Prevencao.pdf </a>
                <hr>
                <a href="https://bvsms.saude.gov.br/bvs/publicacoes/diretrizes_clinicas_cuidado_paciente_renal.pdf" target="_blank"> https://bvsms.saude.gov.br/bvs/publicacoes/diretrizes_clinicas_cuidado_paciente_renal.pdf </a>
                <hr>
                <a href="https://bvsms.saude.gov.br/bvs/dicas/228_insuf_renal2.html" target="_blank"> https://bvsms.saude.gov.br/bvs/dicas/228_insuf_renal2.html </a>
                <hr>
                <a href="https://chocairmedicos.com.br/insuficiencia-renal-cronica-tem-cura/" target="_blank"> https://chocairmedicos.com.br/insuficiencia-renal-cronica-tem-cura/ </a>
                <hr>
                <a href="https://rcs.baxter.com/pt-br/doenca-renal-cronica-em-criancas-como-cuidar" target="_blank"> https://rcs.baxter.com/pt-br/doenca-renal-cronica-em-criancas-como-cuidar </a>
                <hr>
                <a href="https://www.idrpoa.com.br/servicos/dialise-peritoneal/#:~:text=Como%20a%20di%C3%A1lise%20peritoneal%20funciona,da%20cavidade%20abdominal%20do%20paciente." target="_blank"> https://www.idrpoa.com.br/servicos/dialise-peritoneal/#:~:text=Como%20a%20di%C3%A1lise%20peritoneal%20funciona,da%20cavidade%20abdominal%20do%20paciente. </a>
                <hr>
                <a href="https://bvsms.saude.gov.br/hemodialise/#:~:text=Hemodi%C3%A1lise%20%C3%A9%20o%20procedimento%20atrav%C3%A9s,de%20sal%20e%20de%20l%C3%ADquidos." target="_blank"> https://bvsms.saude.gov.br/hemodialise/#:~:text=Hemodi%C3%A1lise%20%C3%A9%20o%20procedimento%20atrav%C3%A9s,de%20sal%20e%20de%20l%C3%ADquidos. </a>
                <hr>
                <a href="https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/tratamento-conservador/" target="_blank"> https://www.sbn.org.br/orientacoes-e-tratamentos/tratamentos/tratamento-conservador/ </a>
                <hr>
                <a href="https://www.sbn.org.br/noticias/single/news/tratamento-conservador-da-drc/" target="_blank"> https://www.sbn.org.br/noticias/single/news/tratamento-conservador-da-drc/ </a>
                <hr>
                <a href="https://familia.sbim.org.br/seu-calendario/pacientes-especiais/vacinacao/pessoas-que-vivem-com-doencas-cronicas/doenca-renal-cronica" target="_blank"> https://familia.sbim.org.br/seu-calendario/pacientes-especiais/vacinacao/pessoas-que-vivem-com-doencas-cronicas/doenca-renal-cronica </a>
                <hr>
                <a href="https://www.sbn.org.br/orientacoes-e-tratamentos/orientacoes-nutricionais/" target="_blank"> https://www.sbn.org.br/orientacoes-e-tratamentos/orientacoes-nutricionais/ </a>
                <hr>
                <a href="https://eventos.ufu.br/sites/eventos.ufu.br/files/a_crianca_com_doenca_renal_cronica_construindo_dialogos_entre_escola_e_servico_de_saude.pdf" target="_blank"> https://eventos.ufu.br/sites/eventos.ufu.br/files/a_crianca_com_doenca_renal_cronica_construindo_dialogos_entre_escola_e_servico_de_saude.pdf </a>
                <hr>
                <a href="https://www.scielo.br/j/rlae/a/DpsYjRRZdHvgfjrWYXj9bxQ/" target="_blank"> https://www.scielo.br/j/rlae/a/DpsYjRRZdHvgfjrWYXj9bxQ/ </a>
                <hr>
                <a href="https://www.scielo.br/j/abem/a/kfKpgxvHXF48fjFzwmxmpZs/abstract/?lang=pt" target="_blank"> https://www.scielo.br/j/abem/a/kfKpgxvHXF48fjFzwmxmpZs/abstract/?lang=pt </a>
                <hr>
                <a href="https://periodicos.ufjf.br/index.php/hurevista/article/download/2483/902/15697" target="_blank"> https://periodicos.ufjf.br/index.php/hurevista/article/download/2483/902/15697 </a>
                <hr>
                <a href="https://bvsms.saude.gov.br/bvs/saudelegis/gm/2014/prt0483_01_04_2014.html" target="_blank"> https://bvsms.saude.gov.br/bvs/saudelegis/gm/2014/prt0483_01_04_2014.html </a>
                <hr>
                <a href="https://www.planalto.gov.br/ccivil_03/leis/l8069.htm" target="_blank"> https://www.planalto.gov.br/ccivil_03/leis/l8069.htm </a>
                <hr>
                <a href="https://normas.leg.br/?urn=urn:lex:br:federal:lei:2023-08-23;14650" target="_blank"> https://normas.leg.br/?urn=urn:lex:br:federal:lei:2023-08-23;14650 </a>
                <hr>
                <a href="https://www.mds.gov.br/relcrys/bpc/perguntas_respostas.htm" target="_blank"> https://www.mds.gov.br/relcrys/bpc/perguntas_respostas.htm </a>
                <hr>
                <a href="https://wiki.saude.gov.br/regulacao/index.php/Tratamento_Fora_do_Domic%C3%ADlio_(TFD)" target="_blank"> https://wiki.saude.gov.br/regulacao/index.php/Tratamento_Fora_do_Domic%C3%ADlio_(TFD) </a>
            </section>
            <section id="refinfo" class="limite">
                <h2>Dados oficiais de transplantes</h2>
                <a href="https://site.abto.org.br/wp-content/uploads/2023/09/RBT2023-2t-naoassociados.pdf" target="_blank"> https://site.abto.org.br/wp-content/uploads/2023/09/RBT2023-2t-naoassociados.pdf </a>
                 <hr>
                 <a href="https://site.abto.org.br/wp-content/uploads/2023/03/rbt2022-naoassociado.pdf" target="_blank"> https://site.abto.org.br/wp-content/uploads/2023/03/rbt2022-naoassociado.pdf </a>
                 <hr>
                 <a href="https://site.abto.org.br/wp-content/uploads/2022/03/leitura_compressed-1.pdf" target="_blank"> https://site.abto.org.br/wp-content/uploads/2022/03/leitura_compressed-1.pdf </a>
                 <hr>
                 <a href="https://site.abto.org.br/wp-content/uploads/2020/08/2020_populacao_1.pdf" target="_blank"> https://site.abto.org.br/wp-content/uploads/2020/08/2020_populacao_1.pdf </a>
                 <hr>
                 <a href="https://site.abto.org.br/wp-content/uploads/2020/08/RBT-2019-leitura.pdf" target="_blank"> https://site.abto.org.br/wp-content/uploads/2020/08/RBT-2019-leitura.pdf </a>
                 <hr>
                 <a href="https://site.abto.org.br/conteudo/rbt/" target="_blank"> https://site.abto.org.br/conteudo/rbt/ </a>
            </section>
        </main>

{% endblock %}