{% extends "base.html" %}

{% block title %}
Fórum
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/forum.css') }}"
{% endblock %}

{% block content %}
<section id="forum">
    <div id="conteudoforum">
        <div id="criapost">
            <h1>Criar postagem</h1>
            <form action="/create_post" method="POST" enctype="multipart/form-data">
                <textarea name="post_title" placeholder="Insira um titulo"></textarea>
                <textarea name="post_text" rows="5" cols="50" placeholder="Insira seu post (até 1500 caracteres)" required></textarea> <br>
                <input type="file" name="imagem1" accept="image/*"><br>
                <input type="file" name="imagem2" accept="image/*"><br>
                <input type="file" name="imagem3" accept="image/*"><br>
                <button>Enviar</button>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="erro">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
        </div>
        <h1>Fórum</h1>
        <!-- Lista de postagens -->
        <ul>
            {% for post in postagens %}
                {% if post.aprovado %}
                    <li>
                        <section id="postagem">
                            <strong>{{post.titulo}} {{ post.user_name }}</strong>
                            <p class="limite">{{ post.texto }}</p>
                            <br>
                            <p class="limite">Data e Hora: {{ post.timestamp_brasil }}</p>
                            <br>
                            {% if post.imagem1 %}
                                <img src="{{ post.imagem1 }}" alt="Imagem 1"><br>
                            {% endif %}
                            {% if post.imagem2 %}
                                <img src="{{ post.imagem2 }}" alt="Imagem 2"><br>
                            {% endif %}
                            {% if post.imagem3 %}
                                <img src="{{ post.imagem3 }}" alt="Imagem 3"><br>
                            {% endif %}
                            <strong><a href="/post/{{ post.id }}">Ver Comentários</a></strong>
                        </section>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}