{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<link rel="stylesheet" href="home.css">
<body> 
    <a href="info.html" class="botao"> Saiba mais sobre o assunto </a>
    <h1> O que é doeça renal crônica</h1>
    <div class="conteudo">
    <p class="info"> metabólicos do sangue, a diabetes e hipertensão arterial estão entre as principais causas para o desenvolvimento da doença em adultos, no caso das crianças as malformações congênitas no sistema urinário e doenças renais hereditárias estão entre os diagnósticos mais frequentes. </p>
    <p2 class="info" style="margin-top: 20px;">  No Brasil atualmente existem  (numero) pacientes com doença renal crônica, dentre eles (numero) são crianças, tornando esse assunto algo muito importante a ser tratado.</p2>
    <div class="texto3">
    <p3 class="info" style="margin-top: 20px ;" >  Principalmente pela falta de acesso das crianças ao tratamento de hemodialíse, seja por questões de peso, ou a falta de profissionais especializados em pediatría.</p3>
</div>
    <div class="texto1">
    <p4 class="info"> A doença renal crônica é sempre secundária à uma questão de saúde anterior, podendo ser uma infecção urinária de repetição, um rim que não se formou direito, uma glomerulopatia que vem de repente ou uma criança com infecção muito grave que ocasionou um choque séptico.</p4>
</div>
</div>
<div class="texto2">   
<p5 class="info" style="margin-top: 20px;">O objetivo desse site é tornar essa causa mais reconhecida facilitando a identificação e tratamento dos pacientes, disponibilizando uma lista de sintomas, locais de tratamento e dados estatísticos sobre o assunto.</p5>
</div>     
<img class="img" src="./static/rim-removebg-preview.png" alt="kidneys">
<div class="fotinha">
<img class="img2" src="./static/douto-removebg-preview.png" alt="doctor">
</div>    

</body>
</html>
{% endblock %}
