{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block css %}
link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"
{% endblock %}

{% block content %}
<section class="content-section">
    <div class="text-section col-8 col-tablet-12 col-smartphone-12">
        <p>
            A doença renal crônica é uma diminuição lenta e progressiva (durante meses ou anos) da capacidade dos rins de filtrar os resíduos metabólicos do sangue. A diabetes e hipertensão arterial estão entre as principais causas para o desenvolvimento da doença em adultos, no caso das crianças as malformações congênitas no sistema urinário e doenças renais hereditárias estão entre os diagnósticos mais frequentes.
        </p>
        <p>
            No Brasil, atualmente, existem muitos pacientes com doença renal crônica, dentre eles crianças, tornando esse assunto algo muito importante a ser tratado.
        </p>
        <p>
            Principalmente pela falta de acesso das crianças ao tratamento de hemodiálise, seja por questões de peso, falta de nefrologistas pediatras e estrutura em locais esperializados.
        </p>
    </div>

    <div class="image-section col-4 col-tablet-12 col-smartphone-12">
        <img class="rim" src="{{ url_for('static', filename='img/rim.png') }}" alt="Rim">
    </div>
</section>

<section class="content-section">
    <div class="image-section col-4 col-tablet-12 col-smartphone-12">
        <img class="fotos" src="{{ url_for('static', filename='img/doctor.png') }}" alt="doutor">
    </div>
    <div class="text-section col-8 col-tablet-12 col-smartphone-12">
        <p>
            A doença renal crônica é sempre secundária a uma questão de saúde anterior, podendo ser uma infecção urinária de repetição, um rim que não se formou direito, uma glomerulopatia que vem repentinamente ou em uma criança com infecção muito grave que ocasionou um choque séptico.
        </p>
        <p>
            O objetivo desse site é tornar essa causa mais reconhecida, facilitando a identificação e tratamento dos pacientes, disponibilizando uma lista de sintomas, locais de tratamento e dados estatísticos sobre o assunto.
        </p>
    </div>
</section>

<section class="button-section">
    <div class="button-section col-smartphone-12 col-tablet-12 col-12">
        <a href="/cadastro">Crie sua conta!</a>
    </div>
</section>
{% endblock %}