{% extends "base.html" %}

{% block title %}
Informações
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}"
{% endblock %}

{% block content %}
<main class="perguntas">
    <div id="sidebar">
        <ul class="sideitens">
            <li class="liside"><img id="ideiaicon" src="{{url_for('static', filename='img/vector.png')}}">
                <b class="topicbar" id="infosidebar">Informações</b></li>
            <hr class="testehr">
            <li class="liside"><img class="sideicons" src="{{url_for('static', filename='img/chaticon.png')}}">
                <a class="topicbar" href="/info">Perguntas frequentes</a></li>
                <ul>
                    <li><a href="#perguntasintro"> Introdução</a></li>
                    <li><a href="#perguntascausas"> Causas</a></li>
                    <li><a href="#perguntastratamento"> Tratamento</a></li>
                    <li><a href="#perguntasdialise"> Diálise</a></li>
                    <li><a href="#perguntasrotina"> Rotina</a></li>
                    <li><a href="#perguntaspoderpublico"> Poder Público</a></li>
                </ul>
            <hr class="testehr">
            <li class="liside"><img class="sideicons" src="{{url_for('static', filename='img/dataicon.png')}}">
                <a class="topicbar" href="/dados">Dados oficiais</a></li>
            <hr class="testehr">
            <li class="liside"><img class=sideicons src="{{url_for('static', filename='img/puzzleicon.png')}}">
                <a class="topicbar" href="/fontes">Fontes oficiais</a></li>
        </ul>
    </div>
    <div id="diretaperguntas">
        <div id="conteudoperguntas">
            <h1>Informações importantes</h1>
            <section id="perguntasintro">
                <h2>O que são as Doenças Renais Crônicas (DRC?)</h2>
                <p>As <strong>Doenças Renais Crônicas</strong> são um termo generalizado que se refere a alterações heterogêneas que afetam tanto a estrutura quanto a função renal, com múltiplas causas e múltiplos fatores de risco. Tratam-se de doenças de curso prolongado, que podem parecer benignas, mas que muitas vezes tornam-se graves e que na maioria das vezes têm evolução assintomática. Na maior parte do tempo, a evolução da doença renal crônica não apresenta nenhum tipo de sintoma, acarretando no diagnóstico tardio.</p>
                <h2>O que é insuficiência renal?</h2>
                <p>Insuficiência renal é quando os rins não conseguem filtrar o sangue de forma eficaz. É classificada em duas categorias: insuficiência renal aguda, que é uma inaptidão temporária e reversível dos rins filtrarem o sangue, e pode ocorrer por vários motivos, como o uso de alguns medicamentos, por exemplo; e insuficiência renal crônica, que é incurável, necessitando de tratamentos da função dos rins para que a pessoa mantenha uma vida normal.</p>
                <h2>Quais são as funções dos rins?</h2>
                <p>Os rins filtram o sangue e auxiliam na eliminação de toxinas do corpo, sendo fundamentais nesse processo. Além disso, os rins também são responsáveis pela excreção de produtos finais de diversos metabolismos, pela produção de hormônios e enzimas, pelo controle do equilíbrio hidroeletrolítico, do metabolismo corporal, da pressão arterial, entre outras funções. As DRC reduzem essa capacidade dos rins, e por esse motivo devem ter um acompanhamento adequado.</p>
                <h2>Qual especialidade médica trata das DRC?</h2>
                <p>Nefrologia e Urologia. São especialidades que possuem algumas semelhanças e são complementares, mas possuem atribuições diferentes. O médico nefrologista estuda as funções e as doenças dos rins, já o médico urologista é especializado em procedimentos cirúrgicos no trato urinário.</p>
                <p>Para tratar as doenças renais em crianças, temos a Nefropediatria, que é uma área de atuação dentro da Nefrologia especializada especificamente no cuidado, diagnóstico e tratamento das doenças relacionadas aos rins e ao trato urinário. Essa especialidade médica é capacitada para atender recém-nascidos, lactentes, crianças e adolescentes, não descartando a possibilidade de demandar a interferência das equipes multidisciplinares do atendimento pediátrico, caso seja necessário.</p>
                <p>Existe hoje um crescimento no índice de crianças diagnosticadas com doenças renais por conta de fatores como o aumento da obesidade, sedentarismo, má alimentação, diabetes, hipertensão arterial e inúmeros outros fatores que contribuem para a evolução de quadros dessa doença. Portanto, torna-se ainda mais necessário a interferência de um profissional Nefropediatra no acompanhamento destas crianças, visando a melhoria da qualidade de vida e saúde delas.</p>
            </section>
            <section id="perguntascausas">
                <h2>Quais são as causas das DRC?</h2>
                <p>As doenças renais crônicas podem ter diversas causas e ocorrerem ainda na formação do
                feto durante a gravidez. Ou então serem hereditárias e já estarem presentes no histórico da família. E, ainda, podem ser adquiridas durante a vida e evoluir para uma insuficiência, caso não sejam tratadas adequadamente, como é o caso das infecções urinárias de repetição. Nem todas as causas das doenças renais crônicas são possíveis de se prevenir, porém a alimentação saudável e a prática de atividades físicas ajudam na função preventiva. Obesidade, diabetes e hipertensão arterial podem ser agravantes para se adquirir as doenças.</p>
                <h2>Como é feito o diagnóstico de uma DRC?</h2>
                <p>Quaisquer anormalidades da estrutura ou função renal, presentes por mais de 3 meses, com implicações para a saúde, são diagnosticadas como uma doença renal crônica.</p>
                <p>Os critérios para o diagnóstico de uma DRC são:</p> 
            <ul>
                <li>Marcadores de dano renal (um ou mais presentes):</li>
                <ul>
                    <li>Albuminúria (≥ 30mg/24h ou razão albuminúria/creatininúria ≥ 30mg/g);</li>
                    <li>Anormalidades do sedimento urinário;</li>
                    <li>Anormalidades eletrolíticas ou outras devido a doenças tubulares;</li>
                    <li>Anormalidades detectadas por histologia;</li>
                    <li>Anormalidades estruturais detectadas por exames de imagem;</li>
                    <li>História de transplante renal.</li>
                </ul>
                <li>Redução da TFG (Taxa de Filtração Glomerular) &lt; 60ml/min/1,73m².</li>
            </ul>
                <h2>Quais são os sintomas das DRC?</h2>
                <p>As doenças renais crônicas são silenciosas, não apresentam sintomas e têm registrado crescentes prevalências, altas mortalidades e elevados custos para os sistemas de saúde no mundo. Por isso é de fundamental importância o diagnóstico precoce. Quando ocorrem infecções urinárias ou outros distúrbios do trato urinário, quer dizer que as doenças já estão em estágio avançado.</p>
                <h2>Quais são os sinais das DRC em bebês e crianças?</h2>
                <p>São utilizados os seguintes parâmetros para o diagnóstico das doenças renais crônicas em bebês e crianças:</p>
            <ul>
                <li>TFG (Taxa de Filtração Glomerular) alterada;</li>
                <li>TFG normal ou próxima do normal, mas com evidência de dano renal ou alteração no exame de imagem;</li>
                <li>Apresentar por 3 meses consecutivos TFG &lt; 60ml/min/1,73m².</li>
            </ul>
            <p>Existem alguns sinais de alerta para DRC em bebês e crianças. São eles:</p>
            <ul>
                <li>Infecção urinária;</li>
                <li>Inchaços pelo corpo;</li>
                <li>Pressão arterial aumentada;</li>
                <li>Falta de ganho de peso;</li>
                <li>Ausência de crescimento;</li>
                <li>Anemia sem causa aparente;</li>
                <li>Sangue na urina.</li>
            </ul>
                <p>Os fatores agravantes que podem acarretar uma doença renal são: crianças prematuras ou com baixo peso ao nascer, problemas congênitos no coração e alterações nos rins e nas vias urinárias, identificadas já no ultrassom realizado no pré-natal.</p>
                <p>A prevenção das DRC nas crianças é feita com a medição e controle da pressão arterial, com o não uso de anti-inflamatórios, com o controle da alimentação e do peso, evitando a obesidade e com atividades físicas. Se a criança já tem alguma alteração nos rins, ela deve ser acompanhada por médico pediatra. Se essa alteração for mais grave, o pediatra solicitará ajuda de nefrologista pediátrico para o melhor cuidado dos rins.</p>
            </section>
            <section id="perguntastratamento">
                <h2>Qual o tratamento das DRC?</h2>
                <p>O tratamento consiste em restringir fluidos, sódio e potássio na dieta, o uso de medicamentos para corrigir outros quadros clínicos (como diabetes, pressão arterial alta, anemia e desequilíbrio eletrolítico).</p>
                <p>Com a perda total ou parcial da função dos rins, é indicado o tratamento de diálise (hemodiálise ou diálise peritoneal) ou o transplante renal. No caso da hemodiálise, o paciente deve comparecer à clínica cerca de três vezes por semana, para realização do tratamento. Já a diálise peritoneal é realizada em domicílio.</p>
                <p>Apesar de serem processos diferentes, em ambos os casos o sangue do paciente passa por uma filtragem artificial, realizando a função que seria dos rins. A escolha do melhor tratamento precisa ser feito junto ao médico nefrologista, pois a indicação é feita individualmente.</p>
                <p>Por fim, o transplante renal, que pode ser de doador cadáver (quando é diagnosticada morte encefálica do doador) ou de doador vivo. Apesar de muitos acharem ser a cura da doença, o transplante renal é considerado um dos tratamentos da DRC. Isto porque o paciente transplantado deverá manter o uso contínuo de alguns medicamentos, dieta e acompanhamento médico.</p>
                <h2>As DRC têm cura?</h2>
                <p>Ao contrário das insuficiências renais agudas, as doenças renais crônicas não têm cura, mas o diagnóstico precoce é igualmente importante para dar início ao tratamento, conter o avanço da doença e garantir maior qualidade de vida do paciente. Com o tratamento adequado, a doença pode ser retardada ou ter sua progressão interrompida, mas infelizmente não pode ser revertida.</p>
                <h2>Onde encontrar o tratamento para crianças?</h2>
                <p>O tratamento deve iniciar-se com uma consulta ao médico pediatra ou ao nefrologista, que pode solicitar exames de sangue, urina, ultrassom e, em alguns casos, biópsia renal para analisar o tecido. Se a DRC for confirmada na criança, é muito importante que os pais levem muito a sério os tratamentos indicados pelo pediatra e pelo nefrologista. Uma dieta especial será determinada com algumas restrições dependendo do grau da doença que a criança apresenta. O tratamento da DRC em crianças realizado pelos pais deve ser orientado com o apoio do nefrologista, e a adesão ao tratamento indicado pelo nefrologista e pela equipe multiprofissional deve ser mantida.</p>
                <p>O tratamento também pode ocorrer em hospitais, principalmente aqueles que possuem uma ala destinada para tratar crianças com doenças renais crônicas, e aqueles especializados e preparados para tratar tais doenças.</p>
            </section>
            <section id="perguntasdialise">
            <h2>O que é a diálise peritoneal?</h2>
                <p>É um tratamento que consiste na inserção do cateter, que é um tubo fino e maleável, no abdômen do paciente. Por este cateter é colocado líquido de diálise para o interior da cavidade abdominal do paciente. A parede abdominal e os órgãos internos (intestino delgado, intestino grosso e fígado) são revestidos por uma membrana – o peritôneo, e é através desta membrana que ocorrem as trocas entre o líquido de diálise infundido e o sangue, controlando assim, o excesso de líquido e removendo as impurezas do sangue.</p>
                <p>Após um determinado período de tempo, o paciente realiza a drenagem do líquido que contém as impurezas e coloca novo líquido de diálise “limpo”, e assim, inicia-se mais um ciclo. O processo de infusão, que é a colocação do líquido no abdômen e a drenagem, que é a retirada do líquido tem uma duração de aproximadamente 30 a 40 minutos.</p>
                <p>O tempo que o líquido fica no interior do paciente se chama tempo de permanência, que é programado conforme a necessidade de diálise do paciente. Geralmente o paciente realiza quatro trocas de líquido por dia no método manual. O líquido de diálise peritoneal apresenta três diferentes tipos, divididos conforme a quantidade de glicose no líquido. Conforme a necessidade de diálise do paciente pode ser usada mais de um tipo de solução de diálise.</p>
                <h2>O que é a hemodiálise?</h2>
                <p>É o tratamento através do qual uma máquina filtra e limpa o sangue, fazendo parte do trabalho que o rim doente não pode fazer. O procedimento retira do corpo os resíduos prejudiciais à saúde, como o excesso de sal e de líquidos. Também controla a pressão arterial e ajuda o organismo a manter o equilíbrio de substâncias como sódio, potássio, ureia e creatinina.</p>
                <p>A hemodiálise é realizada por meio da filtração do sangue, que é retirado pouco a pouco do organismo através de uma agulha especial para a punção da fístula arteriovenosa (FAV). Ela é uma ligação entre uma pequena artéria e uma pequena veia, com a finalidade de tornar a veia mais grossa e resistente para que as punções possam ocorrer sem complicações. A fístula pode ser feita com as próprias veias do indivíduo ou com materiais sintéticos. É preparada com uma pequena cirurgia no braço ou na perna, executada por um cirurgião vascular e com anestesia local. O ideal é que a fístula seja feita de preferência de 2 a 3 meses antes do início da hemodiálise.</p>   
                <p>A hemodiálise também pode ser feita por meio de um cateter inserido numa veia do pescoço, tórax ou virilha, com anestesia local. O cateter é uma opção geralmente temporária para os pacientes que ainda não têm a fístula mas precisam fazer diálise. Os principais problemas relacionados ao uso do cateter são a obstrução e a infecção, o que muitas vezes obriga a sua retirada e o implante de um novo cateter para que as sessões possam continuar.</p>
                <p>As sessões de hemodiálise são realizadas geralmente em clínicas especializadas ou hospitais, no mínimo 3 vezes por semana e cada uma tem duração de aproximadamente 3 a 4 horas.</p>
                <h2>O que é tratamento conservador?</h2>
                <p>O tratamento conservador utiliza no paciente todas as medidas clínicas (remédios, modificações na dieta e estilo de vida) para retardar o avanço da doença renal crônica. Mesmo tratando-se de uma doença progressiva e irreversível, nessa fase é possível diminuir a velocidade da progressão ou até estabilizá-la.</p>
                <p>Iniciado no momento do diagnóstico e mantido a longo prazo, o tratamento representa um impacto positivo na sobrevida e na qualidade de vida do paciente. Quanto mais precoce começar o tratamento conservador, maiores as chances para preservar a função dos rins por mais tempo.</p>
            </section>
            <section id="perguntasrotina">
                <h2>As crianças com DRC podem tomar vacinas normalmente?</h2>
                <p>Não. As crianças e demais pessoas com DRC precisam tomar vacinas especiais, que não as prejudiquem. As vacinas comuns, que não fazem mal às pessoas com rins saudáveis, podem trazer alguns danos a quem é acometido por uma DRC. O calendário vacinal da criança com DRC deve ser seguido de acordo com a faixa etária, exceto para as crianças em uso de imunossupressores, nas quais está contraindicada a utilização de vacinas com vírus vivos. A vacinação para sarampo, caxumba e rubéola, febre amarela e varicela deve ocorrer até no máximo seis semanas antes do transplante. A imunização para Hepatite B deve ocorrer precocemente, haja visto que baixa soroconversão costuma ocorrer em estágios avançados de DRC. A vacinação para influenza deve ocorrer anualmente (preferencialmente com vacina quadrivalente), mesmo após o transplante.</p>
                <p>A Sociedade Brasileira de Imunização recomenda para pacientes com doença renal crônica a vacinação com vacinas VPC13 em todas as faixas etárias, mesmo para os que já estão em dia com o calendário das vacinas VPC10. O esquema depende da idade de início da vacinação.</p>
                <h2>Existe alguma restrição alimentar?</h2>
                <p>A dieta para o tratamento conservador é baseada na restrição de proteínas da alimentação e existem dois tipos desse regime: o primeiro é de uma dieta convencional restrita em proteínas onde se reduz pela metade o consumo principalmente de leite, seus derivados e carnes; o segundo regime é uma dieta muito restrita em proteínas suplementada com aminoácidos essenciais e cetoácidos e praticamente se eliminam os alimentos de origem animal como carnes em geral (vermelha e branca), ovos e laticínios. Outros alimentos que não são de origem animal, mas que contém proteínas e devem ter ingestão reduzida são os pães, biscoitos, massas e o arroz. Em troca da ingestão de proteínas de origem animal, o paciente ingere comprimidos de aminoácidos e cetoácidos que o nutricionista calculou. A cetodieta, como é chamada, reduz as toxinas do sangue onde os rins não conseguem mais eliminar e retarda a progressão da doença renal e consequentemente a entrada em diálise.</p>
                <p>Ao iniciar o programa dialítico, a ingestão de proteína é maior do que no tratamento conservador, pois a perda de proteínas no processo de diálise pode ser significativa. Portanto, é essencial ter uma alimentação correta para evitar a desnutrição. Nesta fase, os níveis de fósforo e potássio já podem estar bem elevados e devem ser acompanhados de perto.</p>
                <p>Para garantir a ingestão adequada de proteína, porém com o controle do fósforo, deve-se seguir algumas orientações, tais como evitar sempre:</p>
                <ul>
                    <li>Queijos;</li>
                    <li>Miúdos (moela, fígado, coração, sarapatel, dobradinha, chouriço, etc);</li>
                    <li>Embutidos (salsicha, mortadela, linguiça, salame, presunto, etc);</li>
                    <li>Oleaginosas (amendoim, castanhas, nozes, etc.);</li> 
                    <li>Chocolates;</li> 
                    <li>Refrigerantes;</li>
                    <li>Frutos do mar;</li> 
                    <li>Peixes como: sardinha, atum, bacalhau e salmão;</li> 
                    <li>Gema de ovo.</li>
                </ul>
                <p>Evitar também alimentos industrializados que possuem conservantes. Eles são grande fonte de fósforo, facilmente absorvido no intestino.</p>
                <p>Além dos cuidados com a alimentação, o controle do fósforo deve ser feito com o uso de quelantes (medicações que impedem a absorção do fósforo), se necessário. Este deve ser tomado durante as refeições e lanches segundo orientações.</p>
                <h2>A criança com DRC pode frequentar a escola?</h2>
                <p>Sim, seja na modalidade regular ou Educação Especial. A falta de convivência escolar é tão dolorosa quanto a falta de convivência familiar. Em ambiente hospitalar, a rotina da criança será diferenciada, mas não poderá deixar de existir. A criança precisa ter hora para brincar, dormir, alimentar-se, realizar sua higiene pessoal, tomar suas medicações, realizar exames médicos, descansar e estudar.</p>
                <p>Portanto, pensar a interdisciplinaridade no ambiente hospitalar é fundamental para um processo e uma filosofia de trabalho que entra em ação na hora de enfrentar os problemas e questões que preocupam o contexto hospitalar. A inter-relação e interação dos saberes busca um objetivo comum, onde os métodos e estruturas de cada especialidade são ampliados e explorados com mais potencialidade, sendo, portanto, uma ação que busca o bem estar do paciente, preconizando a saúde como afirmação da vida e não somente como ausência da doença.</p>
                <h2>A criança com DRC cresce e se desenvolve normalmente?</h2>
                <p>A doença renal crônica em crianças traz consequências negativas para o crescimento, desenvolvimento cerebral e expectativa de vida logo ao nascer. O atraso no crescimento é frequente e grave. Vários fatores contribuem para o comprometimento do crescimento nessas crianças, incluindo as alterações no eixo hormônio de crescimento (GH) - <i>insulin-like growth factor 1 (IGF-1)</i> - desnutrição, acidose, doença renal óssea e uso de corticóides. Em crianças com DRC, o tratamento do atraso no crescimento é difícil em virtude da presença de doenças associadas que necessitem de adequado tratamento médico. Apesar de as evidências a respeito da segurança e de a eficácia do GH nesta população, este tratamento ainda é pouco utilizado.</p>
                <h2>Qual a probabilidade de sobrevivência?</h2>
                <p>A mortalidade de pacientes em diálise está relacionada a diversos fatores como idade, sexo, albumina sérica, Kt/V (relação depuração, tempo e volume em diálises), hemoglobina, produto cálcio-fósforo e paratormônio. WINTER <i>et al</i>, <a href="https://periodicos.ufjf.br/index.php/hurevista/article/download/2483/902/15697" target="_blank">em um estudo publicado em 2016</a> concluíram, após acompanhamento de uma amostra de pacientes com DRC, que a taxa de sobrevida deles foi de 85% no final do primeiro ano de tratamento com diálise e de 67% no final do quinto ano. As principais causas de óbito foram doenças cardiovasculares (34,4%) e doenças infecciosas (16,4%).</p>
            </section>
            <section id="perguntaspoderpublico">
                <h2>Existem políticas públicas voltadas para crianças com DRC?</h2>
                <p>A <a href="https://bvsms.saude.gov.br/bvs/saudelegis/gm/2014/prt0483_01_04_2014.html" target="_blank" >Portaria 483/2014, do Ministério da Saúde</a>, discorre sobre a redefinição da Rede de Atenção à Saúde das Pessoas com Doenças Crônicas no âmbito do Sistema Único de Saúde (SUS), além de estabelecer diretrizes para a organização das linhas de cuidado para com as pessoas acometidas por doenças crônicas no geral, inclusas as doenças renais.</p>
                <p>Alguns dos princípios dessa Rede de Atenção são o acesso e o acolhimento, a humanização, o respeito às diversidades, o monitoramento e a avaliação, a autonomia dos usuários, a equidade, dentre outros princípios norteadores que atendam a necessidade da reorganização da atenção à saúde das pessoas com doenças crônicas. Além disso, a Portaria objetiva ampliar o acesso aos serviços de saúde, bem como aprimorar a qualidade dos tratamentos, promover hábitos de vida saudáveis, ampliar a conscientização da população, dentre outras medidas. As competências para a aplicação das medidas descritas são compartilhadas entre a União, os estados e os municípios, cada qual com as suas atribuições específicas.</p>
                <p>Para as crianças com doenças crônicas, é assegurado no <a href="https://www.planalto.gov.br/ccivil_03/leis/l8069.htm" target="_blank">Estatuto da Criança e do Adolescente (ECA)</a> a prioridade no processo de adoção, bem como a prioridade no cadastro dos postulantes a adotar crianças ou adolescentes com tais doenças, sendo também obrigatória a participação destes em programas e políticas municipais de garantia de direito à convivência familiar e de grupos de apoio à adoção.</p>
                <h2>Existe alguma data para conscientização sobre as DRC?</h2>
                <p>Sim. Na última quinta-feira do mês de agosto é comemorada o Dia Nacional da Diálise (<a href="https://normas.leg.br/?urn=urn:lex:br:federal:lei:2023-08-23;14650" target="_blank">Lei 14650/2023</a>), em que são promovidas ações de conscientização, prevenção e informes de fatores de risco sobre doenças renais e diálise, com a realização de eventos, seminários, palestras, promoção de debates e divulgação na mídia.</p>
                <h2>A pessoa com DRC tem direito a benefícios assistenciais?</h2>
                <p>Toda pessoa incapacitada de conviver normalmente em sociedade, idosa, com alguma deficiência ou doença crônica e que possua renda familiar inferior a 25% do salário mínimo vigente por pessoa moradora do domicílio tem direito a receber o Benefício de Prestação Continuada (BPC), que é um pagamento mensal de um salário mínimo garantido pela Lei Orgânica de Assistência Social (LOAS).</p>
                <p>Além do BPC/LOAS, existe também o TFD (Tratamento Fora do Domicílio), que é um instrumento que garante tratamento médico a pacientes fora de seu município de origem por ausência dos mesmos ou insuficiência de recursos, tudo através do Sistema Único de Saúde (SUS). Os gastos com transporte, hospedagem e alimentação são custeados pelos poderes públicos, assim como todos os outros custos decorrentes do tratamento.</p>
            </section>
        </div>
    </div>
</main>
{% endblock %}
