{% extends "base.html" %}

{% block title %}
Localizações
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/localizacao.css') }}"
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/filtro.js')}}"></script>
<main class="localizacoes">
    <section id="seletores">
        <label for="regiao"> Escolha sua região:</label>
        <select name="regiao" id="regiao" onchange="myFunction()">
            <option value=""> Escolha um valor!</option>
            <option value="norte"> Norte</option>
            <option value="nordeste"> Nordeste</option>
            <option value="centrooeste"> Centro-Oeste</option>
            <option value="sudeste"> Sudeste</option>
            <option value="sul"> Sul</option>
        </select>
        <label for="estado"> Escolha seu estado:</label>
        <select name="estado" id="estado">
        </select>
        <button type="button" onclick="estado()"> Pesquisar!</button>
    </section>
    </div>
</main>
{% endblock %}
