{% extends "base.html" %}

{% block title %}
Localizações
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/localizacao.css') }}"
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/filtro.js')}}"></script>
<main class="localizacoes">
    <div id="seletores">
        <label for="regiao"> Escolha sua região:</label>
        <select name="regiao" id="regiao" onchange="myFunction()">
            <option value=""> Escolha um valor!</option>
            <option value="norte"> Norte</option>
            <option value="nordeste"> Nordeste</option>
            <option value="centrooeste"> Centro-Oeste</option>
            <option value="sudeste"> Sudeste</option>
            <option value="sul"> Sul</option>
        </select>
        <label for="estado"> Escolha seu estado:</label>
        <select name="estado" id="estado">
        </select>
    </div>

    <button type="button" onclick="estado()"> Pesquisar!</button>
    <!-- Mapa das regiões -->
    <!-- <div class="mapa">
        <div class="mpcompleto" style="text-align: center;">
            <a href="#ImagemCompleto"><img class="sideicons" src="{{url_for('static', filename='mapa-completo.png')}}" style="width: 500px;"></a><br>
            <a class="txtlocalidades" href="#ImagemCompleto">Todas as localidades</a> -->
        <!-- </div>
        <div class="mapa">
            <a href="/norte"><img class="sideicons" src="{{url_for('static', filename='img/mapa-norte.png')}}" style="width: 320px;">
            </a>
            <a href="/centrooeste"><img class="sideicons" src="{{url_for('static', filename='img/mapa-centro-oeste.png')}}" style="width: 270px;"></a>
            <a href="/nordeste"><img class="sideicons" src="{{url_for('static', filename='img/mapa-nordeste.png')}}" style="width: 180px;"></a><br>
            <a href="/sudeste"><img class="sideicons" src="{{url_for('static', filename='img/mapa-sudeste.png')}}" style="width: 250px;
            "></a>
            <a href="/sul"><img class="sideicons" src="{{url_for('static', filename='img/mapa-sul.png')}}" style="width: 250px;"></a>
            </div>
        </div>  -->
        <!--Fim dos mapas-->
        <!-- <h1>TEXTO DIZENDO SOBRE OS ESTADOS ABAIXO E OS GRÁFICOS</h1>
        <h1 id="ImagemNorte">Estados do Norte</hh>
        <p>Amazonas (AM)
            Pará (PA)
            Acre (AC)
            Roraima (RR)
            Rondônia (RO)
            Amapá (AP)
            Tocantins (TO)
        </p>
        <h2 id="ImagemCentro">Estados do Centro-Oeste</h2>
        <p>Goiás (GO)
            Mato Grosso (MT)
            Mato Grosso do Sul (MS)
            Distrito Federal (DF)
        </p>
        <h2 id="ImagemNordeste">Estados do Nordeste</h2>
        <p>Maranhão (MA) - São Luís.
            Piauí (PI) - Teresina.
            Ceará (CE) - Fortaleza.
            Rio Grande do Norte (RN) - Natal.
            Paraíba (PB) - João Pessoa.
            Pernambuco (PE) - Recife.
            Alagoas (AL) - Maceió
            Sergipe (SE) - Aracaju.
        </p>
        <h2 id="ImagemSudeste">Estados do Centro</h2>
        <p>
            Espírito Santo (ES)
            Minas Gerais (MG)
            Rio de Janeiro (RJ)
            São Paulo (SP)
        </p>
        <h2 id="ImagemSul">Estados do Centro</h2>
        <p>
            Paraná (PR)
            Santa Catarina (SC)
            Rio Grande do Sul (RS)
        </p> -->
    </div>
</main>
{% endblock %}
