{% extends "base.html" %}

{% block title %}
Localizações
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/localizacao.css') }}"
{% endblock %}
{% block js %} src="https://code.jquery.com/jquery-3.6.0.min.js" {% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/filtro.js')}}"></script>
<main class="localizacoes">
    <p id="erro"></p>
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="erro">{{ message }}</p>
                    {% endfor %}
        {% endif %}
    {% endwith %}
    <section id="seletores">
        <label for="regiao"> Escolha sua região:</label>
        <select name="regiao" id="regiao" onchange="myFunction()">
            <option value=""> Escolha um valor!</option>
            <option value="norte"> Norte</option>
            <option value="nordeste"> Nordeste</option>
            <option value="centrooeste"> Centro-Oeste</option>
            <option value="sudeste"> Sudeste</option>
            <option value="sul"> Sul</option>
        </select>
        <label for="estado"> Escolha seu estado:</label>
        <select name="estado" id="estado">
        </select>
        <button id="submitBtn"> Pesquisar!</button>
    </section>

    <div id="tabelaloc">



    </div>

    <script>
        $(document).ready(function() {
            $("#submitBtn").click(function() {
                var regiao = $("#regiao").val();
                var formData = new FormData();
                formData.append("regiao", regiao);
                formData.append("estado", $("#estado").val());
                
                if (regiao === ""){
                    alert("Selecione uma região");
                }
                else {
                $.ajax({
                    url: '/loccsv',
                    type: 'POST',   
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        console.log("Received data:", data);
                        $("#tabelaloc").html(data.table);
                    },
                    error: function(xhr, status, error) {
                        $("erro").html(data.erro)
                        console.log("Error:", error);
                    }
                });
            };
        });
    });
    </script>

</main>
{% endblock %}
