{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}"
{% endblock %}


{% block content %}

<section id="formulario2">
    <h2>Login</h2>
    <form action="#" method="post">
        <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Coloque o seu endereço de e-mail" required>
            <input type="password" name="senha" id="senha" placeholder="Insira a sua senha" required>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="erro">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
        <button type="submit">Enviar</button>
    </form>

    <br>

    <div class="bot">
        <a href="/cadastro">Crie a sua conta.</a><br><br>
        <a href="/senha">Esqueci minha senha</a>
    </div>

</section>

{% endblock %}