{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}"
{% endblock %}


{% block content %}
    <main class="container">
        <h2>Login</h2>
        <form action="">
            <div class="input-field">
                <input type="text" name="username" id="username"
                    placeholder="Insira seu nome de usuário">
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password"
                    placeholder="Insira sua senha">
                <div class="underline"></div>
            </div>

            <input type="submit" value="Continue">
            <div class="texto">Ou</div>
            <input type="submit" value="Cadastre-se">
        </form>

    </main>

{% endblock %}