{% extends 'base.html' %}
{% block title %}
Comentaríos perguntas
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/forum.css') }}"
{% endblock %}

{% block content %}
    <section id="comentarios">
        <a id ="voltar"href="/faq"> Voltar</a>
        <h1>Comentários</h1>
            <h3>Postagem:</h3>
                <strong>{{ perg.user_email }} :</strong>
                <p class="limite">{{ perg.content }}</p>

            <!-- Formulário para adicionar um comentário -->
            <form method="post" action="/add_comment2/{{ perg.id }}">
                <textarea name="texto" placeholder="Digite seu comentário (até 300 caracteres)"></textarea><br>
                <input type="submit" value="Adicionar Comentário">
            </form>

            <!-- Lista de comentários -->
            <ul class="coments">
                {% for comment in coments2 %}
                    <li>
                        <strong>{{ comment.user_email }}</strong>:  
                        <p class="limite"> {{ comment.texto}} </p>
                    </li>
                    <hr>
                {% endfor %}
            </ul>
    </section>
{% endblock %}