{% extends 'base.html' %}
{% block title %}
Respostas
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/forum.css') }}"
{% endblock %}

{% block content %}
    <section id="comentarios">
        <a id ="voltar"href="/faq"> Voltar </a>
        <h1>Respostas</h1>
            <h3>Postagem:</h3>
                <strong>{{ perg.user_name }}  {{ perg.timestamp_brasil }}</strong>
                <p class="limite">{{ perg.texto }}</p>

            <!-- Formulário para adicionar um comentário -->
            <form method="post" action="/add_comment2/{{ perg.id }}">
                <textarea name="content" placeholder="Digite seu comentário (até 300 caracteres)" required></textarea><br>
                <input type="submit" value="Adicionar Resposta">
            </form>

            <!-- Lista de comentários -->
            <ul class="coments">
                {% for comment in comentarios2 %}
                    <li>
                        <strong>{{ comment.user_name }}  {{ comment.timestamp_brasil }}</strong>  
                        <p class="limite"> {{ comment.texto }} </p>
                    </li>
                    <hr>
                {% endfor %}
            </ul>
    </section>
{% endblock %}