{% extends "base.html" %}

{% block title %}
Informações
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}"
{% endblock %}

{% block content %}
<main class="perfil">
    <div class="containerinfo1">
        <label for="upload" class="image-upload">
            <img id="user-image" src="#" alt="" />
            <input type="file" id="upload" accept="image/*">
        </label>
        <div class="titulo"></div>
        <h3>Nome</h3>
        <input type="text" id="name-input" placeholder="Digite seu nome...">
        <h3>Informações adicionais</h3>
        <div><input type="text" id="name-input" placeholder="Adicionar informações..."></div>

        </div>
        <div><input type="text" id="name-input" placeholder="Grau de parentesco"></div>
    </div>
    <!--<div class="info">
        <div class="conteinerinfo2">
            <div class="custom-checkbox">
                <input type="checkbox" id="Pai" name="gender" value="pai">
                <label for="Pai">Pai</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" id="mae" name="gender" value="mae">
                <label for="mae">Mãe</label>
            </div>
        
        </div>-->
        <h3></h3>
        <input type="text" id="name-input" placeholder="Digite sua cidade...">
        <h3>Seu estado</h3>
        <div><input type="text" id="name-input" placeholder="Digite seu estado..."></div>
    
        <button id="save-button">Salvar alterações</button>
        <button id="logout">Sair</button>
        </div> 
    </div>
</main>
{% endblock %}
