{% extends "base.html" %}

{% block title %}
Informações
{% endblock %}

{% block css %}
rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}"
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/filtro.js')}}"></script>
    <section id="containerinfo1">
        <label for="upload" class="image-upload">
            <img id="user-image" src="#" alt="" />
            <input type="file" id="upload" accept="image/*">
        </label>
        <p>Nome de usuário: {{ user[0] }}</p>
        <p>Email: {{ user[1] }}</p>
        <p>CPF: {{ user[2] }}</p>
        <p>Profissão: {{ user[3] }}</p>
        <p>Data de nascimento: {{ user[4] }}</p>
        <p>Parentesco: {{ user[5] }}</p>
        <!-- <div class="titulo"></div>
            <h3>{{session['username']}}</h3>
            <h3>Informações adicionais</h3>
            <div><input type="text" id="name-input" placeholder="Adicionar informações..."></div>

        </div>
        <div><input type="text" id="name-input" placeholder="Grau de parentesco..."></div>
    <div class="info">
        <div class="conteinerinfo2">
            <div class="custom-checkbox">
                <input type="checkbox" id="Pai" name="gender" value="pai">
                <label for="Pai">Pai</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" id="mae" name="gender" value="mae">
                <label for="mae">Mãe</label>
            </div>
        
        </div>
        <input type="text" id="name-input" placeholder="Digite sua cidade...">
        <h3>Seu estado</h3>
        <div><input type="text" id="name-input" placeholder="Digite seu estado..."></div> -->
        <form action="/logout" method="POST">
            <button id="logout">SAIR</button>
        </form>
    </section>
{% endblock %}
