<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Minha Página</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <label for="upload" class="image-upload">
            <img id="user-image" src="#" alt="" />
            <input type="file" id="upload" accept="image/*">
        </label>
        <div class="titulo"><h2>Suas informações</h2></div>
        <input type="text" id="name-input" placeholder="Digite seu nome...">
    <div class="info">
        <input type="text" id="name-input" placeholder="Digite seu nome...">
        <div><input type="text" id="name-input" placeholder="Digite seu estado"></div>
       
        <button id="save-button">Salvar alterações</button>
        <button id="logout">Sair</button>
        </div>
    </div>
</body>
</html>
