body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

#navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #2cce78ec;
    justify-content: flex-end;
    transition: opacity 0.5s, transform 0.5s, width 0.5s, height 0.5s;
}

.listanav{
    display: flex;
    width: fit-content;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
}

.botoesnav {
	background-color: #ffffffb4;
	border-radius:12px;
	border:1px solid #000000;
	cursor:pointer;
	color:#000000;
	font-family:Arial;  
	font-size:13px;
	font-weight:bold;
	padding:5px 20px;
	text-decoration:none;
    margin-right: 15px;
}
.botoesnav:hover {
	background-color:#8aebb7;
}
 
ul li a{
    color: rgb(0, 0, 0);
    outline: none;
    text-decoration: none;
}

#hamburger-menunav {
    display: none;
    cursor: pointer; 
    width: 60%; 
    height: 60px; 
    z-index: 2;
}

#hamburger-wrappernav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; 
    top: 2px;
    right: 25px;
}

#hamburger-menunav div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#hamburger-menunav.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

#hamburger-menunav.change .bar2 {
    opacity: 0;
}

#hamburger-menunav.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.esquerda {
    margin-right: auto;
    
}

#logo {
    display: flex;
    padding-left: 20%;
    align-items: center;
}

#fotologo {
    width: 55px;
    height: 55px;
}

#textologo {
    padding-left: 10%;
    color: #000000;
    font-weight: bolder;
    font-size: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
}

footer{
    height: 60px;
    margin-top: auto;
    background-color: #2cce78ec;
    color:#0f0f0f;  
    width: 100%;
}

.rodape{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

}
.gitacess {
    display: flex;  
    justify-content: center;
    align-items: flex-end;
    padding-left: 15px;
}

#gitlogo {
    padding-left: 5px;
    width: 25px;
    height: 25px;
    padding-top: 5px;
}

#linkgit {
    color: rgb(0, 0, 0);
    outline:     none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

}

h5 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}  

.erro {
    text-align: center;
    color: red;
}

/* Media Queries para responsividade */

/* Configurar colunas: */
[class*="col-"] {width: 100%; float: center; box-sizing: border-box;}

.content {padding: 2rem;}

.row::after {content: ""; clear: both; display: table;}

/* Para smartphones: */
@media only screen and (max-width: 480px) {
  .col-smartphone-1 {width: 8.33%;}
  .col-smartphone-2 {width: 16.66%;}
  .col-smartphone-3 {width: 25%;}
  .col-smartphone-4 {width: 33.33%;}
  .col-smartphone-5 {width: 41.66%;}
  .col-smartphone-6 {width: 50%;}
  .col-smartphone-7 {width: 58.33%;}
  .col-smartphone-8 {width: 66.66%;}
  .col-smartphone-9 {width: 75%;}
  .col-smartphone-10 {width: 83.33%;}
  .col-smartphone-11 {width: 91.66%;}
  .col-smartphone-12 {width: 100%;}
  }

/* Para tablets: */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .col-tablet-1 {width: 8.33%;}
  .col-tablet-2 {width: 16.66%;}
  .col-tablet-3 {width: 25%;}
  .col-tablet-4 {width: 33.33%;}
  .col-tablet-5 {width: 41.66%;}
  .col-tablet-6 {width: 50%;}
  .col-tablet-7 {width: 58.33%;}
  .col-tablet-8 {width: 66.66%;}
  .col-tablet-9 {width: 75%;}
  .col-tablet-10 {width: 83.33%;}
  .col-tablet-11 {width: 91.66%;}
  .col-tablet-12 {width: 100%;}
  }


/* Para desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media screen and (max-width: 820px) {
    .listanav {
        opacity: 0;
        height: 0;
        transition: opacity 0.5s, transform 0.5s, width 0.5s, height 0.5s;
        transform: translateY(-100%);
        z-index: 1;
        position: absolute;
        overflow: hidden;
    }
    #hamburger-menunav {
        display: block;
    }
    .listanav.expanded {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        width: 80%;
        top: 60px;
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    
    .listanav.expanded li {
        padding-top: 1%;
    }

    #navbar.expanded {
        height: 165px;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
    }
}

@media screen and (max-width: 520px)  {
    #navbar.expanded {
        height: 200px;
    }
    .listanav.expanded li {
        padding-top: 3%;
    }
}