#formulario {
    background-color: #ffffff;
    padding: 2%;
    margin: 2% auto;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 70%;
}
#formulario h2 {text-align: center;}

.form-group {margin-bottom: 20px; text-align: center;}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #f32222ec;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {background-color: rgb(21, 255, 0);}

.bot {text-align: center; display: block;}

.bot a {
    color: #f32222ec;
    cursor: pointer;
    text-decoration: none;
    font-weight:normal;
    font-size: 1em;
    transition: color 0.3s;
  }
  
.bot a:hover {color: rgb(21, 255, 0);}