#formulario {
    background-color: #ffffff;
    padding: 2%;
    margin: 2% auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 70%;
}

#formulario2 {
    background-color: #ffffff;
    padding: 2%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 30%;
}

#formulario h2 {text-align: center;}

#formulario2 h2 {text-align: center;}

.form-group {margin-bottom: 20px; text-align: center;}

#conheceu {
    width: 71.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #f32222ec;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {background-color: rgb(21, 255, 0);}

.bot {text-align: center; display: block;}

.bot a {
    color: #f32222ec;
    cursor: pointer;
    text-decoration: none;
    font-weight:normal;
    font-size: 1em;
    transition: color 0.3s;
  }
  
.bot a:hover {color: rgb(21, 255, 0);}

#esquecisenha {
    background-color: #ffffff;
    padding: 2%;
    margin: 2% auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 70%;;
}
@media only screen and (max-width: 480px){
  #conheceu{
    width: 77%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px){
  #conheceu{
    width: 76%;
}  
}
@media only screen and (min-width: 768px){
    #conheceu{
        width: 73.2%;
    }
}
