h1 {
    color: black;
    text-align: center;
}

#conteudofaq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#criaperg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9d9d9;
    padding: 2%;
    margin: 2% auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 60%;
    overflow: hidden;
}

.limite {
    font-size: 1em;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}

#criaperg textarea {
    border-radius: 20px;
    padding: 1%;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    resize: none;
}

#criaperg button {
    display: block;
    margin: 1% auto;
    padding: 5px 10px;
    background-color: #2cce78ec;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 1em;
    cursor: pointer;
}

#criaperg button:hover {
    background-color: rgb(21, 255, 0);
}

#pergunta {
    background-color: #d9d9d9;
    padding: 5% 7%;
    margin: 2% 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

#pergunta strong {
    font-size: 1.1em;
}

#postagem a {
    font-weight: bold;
}

.pergunta {
    width: 60%;
    padding-left: 0;
    margin: auto;
    padding-bottom: 1%;
}
li {
    list-style: none;
}

#comentarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9d9d9;
    padding: 3%;
    margin: 2% auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 90%;
}

#voltar {
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#comentarios form {
    width: 100%;
}

#comentarios form textarea {
    width: 100%;
    border-radius: 20px;
    padding: 1%;
}

#comentarios form input {
    display: block;
    margin: 1% auto;
    padding: 5px 10px;
    background-color: #2cce78ec;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 1em;
    cursor: pointer;
}

#comentarios form input:hover {
    background-color: rgb(21, 255, 0);
}

.coments {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.coments li {
    padding: 1%;
}

@media screen and (max-width:480px) {
    #criaperg textarea {
        padding: 3%;
    }
    .limite{
        font-size: 0.9em;
    }
    h1 {
        font-size: 1.5em;
    }
    #pergunta strong {
        font-size: 1em;
    }
    .pergunta {
        width: 90%;
    }
    #criaperg {
        width: 80%;
    }
    #comentarios {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #criaperg textarea {
        padding: 2%;
    }
}