h1 {
    color: black;
    text-align: center;
}

input[type="file"] {
    margin: 10px 0;
}

.post {
    border: 1px solid #323232;
    padding: 10px;
    margin: 0 auto;
    max-width: 30%;
    border-radius: 10px;
    background-color: #d9d9d9;
}

.images {
    text-align: center;
}
img{
    max-width: 500px;
}

.images img {
    display: inline-block;
    margin: 0 auto;
    max-width: 400px;  /* Define a largura máxima para as imagens */
    height: auto;  /* Mantém a proporção original da imagem */
}

#conteudoforum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}

#criapost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9d9d9;
    padding: 2%;
    margin: 2% 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 60%;
    overflow: hidden;
}

#criapost textarea {
    border-radius: 20px;
    padding: 1%;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    resize: none;
}

button {
    display: block;
    margin: 1% auto;
    padding: 5px 10px;
    background-color: #2cce78ec;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: rgb(21, 255, 0);
}

#postagem {
    background-color: #d9d9d9;
    padding: 5% 7%;
    margin: 2% auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

#postagem strong {
    font-size: 1.1em;
}

.limite {
    font-size: 1em;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}

#postagem a {
    font-weight: bold;
}

.postagem {
    margin: auto;
    width: 60%;
    padding-left: 0;
}
li {
    list-style: none;
}

#comentarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9d9d9;
    padding: 3%;
    margin: 2% auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 90%;
}

#voltar {
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#comentarios form {
    width: 100%;
}

#comentarios form textarea {
    width: 100%;
    border-radius: 20px;
    padding: 1%;
    height: auto;
    box-sizing: border-box;
    resize: none;
}

#comentarios form input {
    display: block;
    margin: 1% auto;
    padding: 5px 10px;
    background-color: #2cce78ec;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 1em;
    cursor: pointer;
}

#comentarios form input:hover {
    background-color: rgb(21, 255, 0);
}

.coments {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.coments li {
    padding: 1%;
}

#admin{
    width: fit-content;
    font-size: 1em;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
}

table {
    border: 2px solid #000;
    /* border-collapse: collapse; */
    background-color: hsl(0, 0%, 91%); 
    width: 60vw;
    margin-bottom: 5%;
}

table, th, td {
    text-align: center;
}

th, td {
    padding: 10px;
}

#admin a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.3s;
}

#admin a:hover{
    color: #2cce78ec;
}

@media screen and (max-width:480px) {
    #criapost textarea {
        padding: 3%;
    }
    .limite{
        font-size: 0.9em;
    }
    h1 {
        font-size: 1.5em;
    }
    #postagem strong {
        font-size: 1em;
    }
    #comentarios form textarea {
        padding: 3%;
    }
}