/* Reset de estilos para garantir uma base limpa */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Estilos para a seção conteudo1 */
#conteudo1 {
  max-width: 90%; /* Largura máxima */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
  background-color: #ffffff;
  padding: 2%;
  margin: 2% auto; /* Centraliza verticalmente e ajusta a largura */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textos {
  width: 48%;
  padding: 2%;
}

.textos p {
  margin-bottom: 2%;
  font-size: 1.2em;
  line-height: 1.6;
}

.imgrim {
  width: 48%;
  text-align: center;
}

.rim {
  max-width: 100%;
  height: auto;
}

/* Estilos para a seção conteudo2 */
#conteudo2 {
  max-width: 90%; /* Largura máxima */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
  background-color: #ffffff;
  padding: 2%;
  margin: 2% auto; /* Centraliza verticalmente e ajusta a largura */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textos2 {
  width: 48%;
  padding: 2%;
}

.textos2 p {
  margin-bottom: 2%;
  font-size: 1.2em;
  line-height: 1.6;
}

.foto {
  width: 48%;
  text-align: center;
}

.fotos {
  max-width: 50%;
  height: auto;
}

/* Estilos para o botão centralizado */
#botao {
  position: relative;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.bot a {
  display: inline-block;
  padding: 1% 2%;
  background-color: #00ff73;
  color: #fff;
  text-decoration: none; /* Remova o sublinhado */
  border: none; /* Remove a borda do link */
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 1.2em;
  cursor: pointer;
}

.bot a:hover {
  background-color: #05b70253;
}