.localizacoes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.mapa{
    display: inline-block;
    text-align: center;
    align-items: center;
    display: block;

}
.txtlocalidades{
    border-radius:12px;
	border:1px solid #000000;
	color:#000000;
	font-family:Century;  
	font-size:25px;
	padding:5px 20px;
	text-decoration:none
}

#centro{
    display: block;
    margin: 0 auto;
    width: 300px;
    right: 0px;
}

.mpcompleto{
}

.maps{
    margin: 0 auto;
    width: 300px;
    right: 0px;
    display: inline-block;
    text-align: center;
}

#seletores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#seletores button {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #2cce78ec;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 1em;
    cursor: pointer;
}

#seletores button:hover {
    background-color: rgb(21, 255, 0);
}


#regiao {
    width: 15vw;
    font-size: 1em;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}

#estado {
    width: 15vw;
    font-size: 1em;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}
label {
    font-size: 1.5em;
}

