#sidebar {
    background-color: #D9D9D9;
    min-height: 87.6vh;
    min-width: 21vw;
    max-height: inherit;
    padding-right: 10px;
}

.sideitens {
    margin-top: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.liside{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 10px;
}

#infosidebar {
    font-size: 35px;
}

.topicbar {
    font-size: 25px;
    font-style: italic;
} 

#ideiaicon {
    padding-top: 5px;
    width: 30px;
    height: 40px;
    padding-right: 10px;
}

.sideicons {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.testehr{
    color: #ffffffb4;
    width: 100%;
}

.perguntas {
    display: flex;
    justify-content: flex-end;
}

#direitaperguntas {
    margin-left: 0;
}

#conteudoperguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

h1{
    font-size: 62px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 20px;
    text-align: justify;
    text-justify: auto;    
}

ul {
    font-size: 20px;
    text-align: justify;
    text-justify: auto;
}

.respostasinformacoes {
    font-size: 20px;
}

.dados {
    display: flex;
    justify-content: flex-start;
    min-height: 87.6vh;
    max-height: fit-content;
}

#direitadados {
    margin: auto;
    width: 79vw;
}

#conteudodados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/*TABELAS*/
.tabela{
    border: 2px solid #000;
    /* border-collapse: collapse; */
    background-color: hsl(0, 0%, 91%); 
    width: 60vw;
}
th, td {
    text-align: center;
}
/* #tabela2{
    border: 2px solid #000;
    border-collapse: separate;
    background-color: #e9e9e9; 
    width: 150%;
    
} */
/* .margem{
    margin-left:30%;
    text-align: center;
} */
